.contact-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 80%; */
}

.contact-content {
    width: 80%;
}

.discord-button {
    width: 45%;
}

.instagram-button, .facebook-button, .linkedin-button {
    /* width: 200px; */
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 5px;
    margin: 0;
    border-radius: 5px;
    font-family: 'IBM Plex Serif', serif;
}

.instagram-button, .facebook-button, .linkedin-button {
    margin: 5px 2px;
}

.discord-button {
    background-color: white;
    border: 4px solid #7289da;
    color: #7289da;
}

.discord-logo {
    padding-right: 10px;
    height: 100%;
}

.discord-button:hover {
    color: white;
    background-color: #7289da;
    border: 4px solid #7289da;
}

.instagram-button {
    background-color: white;
    border: 4px solid #DD2A7B;
    color: #DD2A7B;
}

.instagram-logo, .facebook-logo, .linkedin-logo {
    padding-right: 10px;
    margin: 0;
    /* padding: 0; */
    height: 100%;
    /* background-color: red; */
}

.instagram-button:hover {
    color: white;
    background-color: #DD2A7B;
    border: 4px solid #DD2A7B;
}

.facebook-button {
    background-color: white;
    border: 4px solid #3B5998;
    color: #3B5998;
}

.facebook-button:hover {
    color: white;
    background-color: #3B5998;
    border: 4px solid #3B5998;
}

.linkedin-button {
    background-color: white;
    border: 4px solid #0077B5;
    color: #0077B5;
}

.linkedin-button:hover {
    color: white;
    background-color: #0077B5;
    border: 4px solid #0077B5;
}

.title {
    font-family: 'IBM Plex Serif', serif;
    font-size: 2.25em;
    text-align: center;
}

.text {
    font-family: 'Mukta', sans-serif;
    font-size: 1.25em;
    text-align: center;
    padding: 0px 25px;
    margin: 10px;
}

.contact-discord-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.email-link {
    text-decoration: none;
    color: #0077B5;
}

.email-link:hover {
    text-decoration: underline;
    color: #0077B5;
}

.contact-line {
    width: 100%;
}

.contact-photo {
    padding: 15px;
    width: 100%;
    border-radius: 20px;
}