.navbar {
    background-color: #206cc0;
    background-color: #123a71;
    /* background-color: #FFFFFF; */
    color: white;
    /* color: black; */
    height: 9vh;
    padding: 0;
    margin: 0;
}

.navbar-container {
    margin: 5px;
}

.toggle {
    background-color: #123a71 !important;
}

.navitem {
    color: white !important;
    background-color: #123a71;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: white; */
    text-align: center;
    font-size: 1.25em;
    padding: 8px;
}

/* .navbrand {
    color: black !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

.navitem:hover, .navbrand:hover {
    color: #f1ab00 !important;
    color: lightgray !important;
}


.navbrand img {
    height: 8vh;
    padding: 0;
}

.navbrand {
    padding: 0;
}