.about-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-wrapper {
    width: 80%;
    text-align: center;
    font-size: 1.25em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-photo {
    width: 80%;
}

.about-photo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}