.recruitment-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recruitment {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.r-discord-button, .email-button, .highlander-link-button {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 5px 10px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.r-discord-button {
    background-color: white;
    border: 4px solid #7289da;
    color: #7289da;
}

.r-discord-logo, .email-logo, .highlander-link-logo {
    padding-right: 10px;
    height: 28px;
    width: 28px;
}

.r-discord-button:hover {
    color: white;
    background-color: #7289da;
    border: 4px solid #7289da;
}

.highlander-link-button {
    background-color: white;
    border: 4px solid #ef5a28;
    color: #ef5a28;
} 

.highlander-link-button:hover {
    color: white;
    background-color: #ef5a28;
    border: 4px solid #ef5a28;
}

.email-button {
    background-color: white;
    border: 4px solid #4285F4;
    color: #4285F4;
} 

.email-button:hover {
    color: white;
    background-color: #4285F4;
    border: 4px solid #4285F4;
}

.recruitment-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    text-align: center;
}

.calender-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 0 25px;
    font-size: 1.25em;
}

.recruitment-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
}

.calender-text {
    margin-top: 20px;
    margin-bottom: 0;
}

.recruitment-small-group {
    width: 100%;
    border-radius: 5px;
}

.recruitment-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.r-line {
    width: 100%;
}

.button-link {
    text-decoration: none;
}